/**
 * Custom CSS
 * Use this file to override styles if you feel uncomfortable editing
 * component stylesheets.
 ============================================================================ */
.page {
	background-color: #fff7eb;
	background-image: none;
}

.pr-header__rw {
	background: #e27e32 url(../../images/header_bg.jpg) center bottom repeat-x;
	color: #000000;
}

.site-branding__name {
	font-weight: bold;
}

.pr-navbar .regions {
	background-color: transparent;
	background: #e27e32 url(../../images/primary_bg.png) center bottom repeat-x;
}

.ms-dropmenu .rm-block__content .menu-level-1 > li > span > .menu__link:hover,
.ms-dropmenu .rm-block__content .menu-level-1 > li > span > .menu__link:focus,
.ms-horizontal .rm-block__content .menu-level-1 > li > span > .menu__link:hover,
.ms-horizontal .rm-block__content .menu-level-1 > li > span > .menu__link:focus {
	color: #fffd6f;
	background-color: #945508;
}

.ms-dropmenu .rm-block__content .menu-level-1 > li > span > .menu__link.is-active,
.ms-horizontal .rm-block__content .menu-level-1 > li > span > .menu__link.is-active {
	color: #fffd6f;
	background-color: #945508;
}

.ms-dropmenu .rm-block__content .menu-level-2 .menu__link,
.ms-horizontal .rm-block__content .menu-level-2 .menu__link {
	color: #945508;
	background-color: #fff7eb;
	border-bottom: solid 1px #d9d9d9;
	border-left: solid 1px #d9d9d9;
	border-right: solid 1px #d9d9d9;
}

.ms-dropmenu .rm-block__content .menu-level-2 .menu__link:hover,
.ms-dropmenu .rm-block__content .menu-level-2 .menu__link:focus,
.ms-horizontal .rm-block__content .menu-level-2 .menu__link:hover,
.ms-horizontal .rm-block__content .menu-level-2 .menu__link:focus {
	color: #fff;
	background-color: #667788;
}
