/**
 * Custom CSS
 * Use this file to override styles if you feel uncomfortable editing
 * component stylesheets.
 ============================================================================ */
.page {
	background-color: #fff7eb;
	background-image: none;
}

.pr-header__rw {
	background: #e27e32 url(../../images/header_bg.jpg) center bottom repeat-x;
	color: #000000;
}

.site-branding__name {
	font-weight: bold;
}

.pr-navbar .regions {
	background-color: transparent;
	background: #e27e32 url(../../images/primary_bg.png) center bottom repeat-x;
}

.ms-dropmenu .rm-block__content .menu-level-1 > li > span > .menu__link:hover,
.ms-dropmenu .rm-block__content .menu-level-1 > li > span > .menu__link:focus,
.ms-horizontal .rm-block__content .menu-level-1 > li > span > .menu__link:hover,
.ms-horizontal .rm-block__content .menu-level-1 > li > span > .menu__link:focus {
	color: #fffd6f;
	background-color: #945508;
}

.ms-dropmenu .rm-block__content .menu-level-1 > li > span > .menu__link.is-active,
.ms-horizontal .rm-block__content .menu-level-1 > li > span > .menu__link.is-active {
	color: #fffd6f;
	background-color: #945508;
}

.ms-dropmenu .rm-block__content .menu-level-2 .menu__link,
.ms-horizontal .rm-block__content .menu-level-2 .menu__link {
	color: #945508;
	background-color: #fff7eb;
	border-bottom: solid 1px #d9d9d9;
	border-left: solid 1px #d9d9d9;
	border-right: solid 1px #d9d9d9;
}

.ms-dropmenu .rm-block__content .menu-level-2 .menu__link:hover,
.ms-dropmenu .rm-block__content .menu-level-2 .menu__link:focus,
.ms-horizontal .rm-block__content .menu-level-2 .menu__link:hover,
.ms-horizontal .rm-block__content .menu-level-2 .menu__link:focus {
	color: #fff;
	background-color: #667788;
}

.pr-main__sidebar-first .block__title,
.pr-main__sidebar-second .block__title {
	color: #fcfcfc;
	background-color: #db751f;
}

tr:hover {
	background-color: #b7ccd7;
}

thead tr {
	color: #404040;
	background-color: #b7ccd7;
}

tr,
td,
th {
	border-color: #a3bcc8;
}

#views-blockxiehuikecheng-block-2 .block__title {
	color: #0000FF;
}

#views-blockxiehuihuodong-block-2 .block__title {
	color: #0000FF;
}

#views-blockxiehuifuwu-block-2 .block__title {
	color: #0000FF;
}

#views-blockgonggao-block-1 .block__title {
	color: #0000FF;
}

#block-contentffda733d-d3cf-40a2-844e-500ed55a8e57 .block__title {
	color: #0000FF;
}

#block-views-block-xiehuikecheng-block-1 .block__content {
	padding: 0px;
}

.view-id-xiehuikecheng.view-display-id-block_1 thead {
	display: none;
}

.view-id-xiehuikecheng.view-display-id-block_1 tr,
.view-id-xiehuikecheng.view-display-id-block_1 td,
.view-id-xiehuikecheng.view-display-id-block_1 th {
	border-color: #cc9900;
}

.view-id-xiehuikecheng.view-display-id-block_1 tr.even {
	background: #fff7eb;
}

.view-id-xiehuikecheng.view-display-id-block_1 tr.odd {
	background: #ffffff;
}

#block-views-block-xiehuihuodong-block-1 .block__content {
	padding: 0px;
}

.view-id-xiehuihuodong.view-display-id-block_1 thead {
	display: none;
}

.view-id-xiehuihuodong.view-display-id-block_1 tr,
.view-id-xiehuihuodong.view-display-id-block_1 td,
.view-id-xiehuihuodong.view-display-id-block_1 th {
	border-color: #cc9900;
}

.view-id-xiehuihuodong.view-display-id-block_1 tr.even {
	background: #fff7eb;
}

.view-id-xiehuihuodong.view-display-id-block_1 tr.odd {
	background: #ffffff;
}

#block-views-block-xiehuifuwu-block-1 .block__content {
	padding: 0px;
}

.view-id-xiehuifuwu.view-display-id-block_1 thead {
	display: none;
}

.view-id-xiehuifuwu.view-display-id-block_1 tr,
.view-id-xiehuifuwu.view-display-id-block_1 td,
.view-id-xiehuifuwu.view-display-id-block_1 th {
	border-color: #cc9900;
}

.view-id-xiehuifuwu.view-display-id-block_1 tr.even {
	background: #fff7eb;
}

.view-id-xiehuifuwu.view-display-id-block_1 tr.odd {
	background: #ffffff;
}

.mb-3 {
	margin-bottom: 12px;
}

.table {
	width: 100%;
}
